* {
    background-color: black;
}

#id_coluna_1 {
    background-color: #171717;
    height: 100vh;
}

#id_text_pokemon {
    background-color: #181A1B;
    color: #FFFFFF;
}

#id_group_pokemon {
    margin-top: 30px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#id_botao_grupo_tipo {
    margin-left: 60px;
    margin-right: auto;
    margin-top: 30px;

}

