
#id_coluna_1 {
    background-color: #1A1C1E;
    height: 100vh;
}

#id_linha_input{
    background-color: #1A1C1E;
}


.inputs_dados {
    width: 60vw;
    margin: 30px auto;
    background-color: #171717;
    color: #FFFFFF;
}

#id_botao_grupo_tipo {
    margin-left: 60px;
    margin-right: auto;
    margin-top: 30px;

}

#content {
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
    width: 80vw;
}

.class_cards_pokemons {
    width: 30%;
    display: inline-block;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.class_img_pokemon {
    width: 200px;
    height: 150px;
    margin-left: 50px;
    top: 0px;
}
.class_nome_pokemon {
    color: #FFFFFF;
    font-size: 17px;
    text-align: justify;
}

#id_segunda_linha {
    background-color: #1A1C1E;
}