* {
    background-color: black;
}

#id_coluna_1 {
    background-color: #171717;
    height: 100vh;
}

.inputs_dados {
    width: 60vw;
    margin: 30px auto;
    background-color: #171717;
    color: #FFFFFF;
}

#id_botao_grupo_tipo {
    margin-left: 60px;
    margin-right: auto;
    margin-top: 30px;

}

#content {
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
    width: 80vw;
}

.class_cards_pokemons {
    width: 30%;
    display: inline-block;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}